.signup{
text-align: right;
padding: 20px;
}

.button {
 background-color: #E7A951;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}

.buttonSmall {
 background-color: #E7A951;
  color: black;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.heading {
  font-size: 20px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}
.form-inline {
text-align: right;
}

.card-body {
border: 1.5px solid #DE337D;
border-radius: 6px;

}
.myListBox {
border: 1.5px solid #DE337D;
border-radius: 6px;
margin: 10px;
padding: 20px;
}

h4 {
color: red;
}
.form-group {
color: white;
padding: 10px;
}

.loggedInUser {
color: white;
padding: 10px;
}


