<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="${'/style.css'}" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Listit</title>
</head>
<body>
<h1></h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img class="logo" th:src="${'/logo2.png'}" src="../static/logo2.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <form class="form-inline" action="/home" method="POST">
                <div class="form-group">
                    <label for="Uname">Sign in: &nbsp;&nbsp; </label>
                    <input type="text" class="form-control" name="userName" id="Uname">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:&nbsp;&nbsp; </label>
                    <input type="password" class="form-control" name="password" id="pwd">
                </div>
                <div>
                    <input type="submit" value="Login" class="button">
                </div>
            </form>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <h1>Top Rated Lists</h1>
    <div class="row">
        <div class=col-9>
            <div class="card-columns">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Jonathans top 5 tacos</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. Fish</li>
                            <li class="list-group-item">2. Beef</li>
                            <li class="list-group-item">3. Chicken</li>
                            <li class="list-group-item">4. Veggie</li>
                            <li class="list-group-item">5. Crunchy</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p>4.1 average based on 254 reviews.</p>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Oskars top 5 songs</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. Push it</li>
                            <li class="list-group-item">2. Främling</li>
                            <li class="list-group-item">3. Diggilo diggiley</li>
                            <li class="list-group-item">4. Hej hopp</li>
                            <li class="list-group-item">5. In da club</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>3.2 average based on 678 reviews.</p>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Mikaels top 5 songs</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. Blinding Lights</li>
                            <li class="list-group-item">2. The Box</li>
                            <li class="list-group-item">3. Dance Monkey</li>
                            <li class="list-group-item">4. Don't Start Now</li>
                            <li class="list-group-item">5. Intentions (feat. Quavo)</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>1.3 average based on 967 reviews.</p>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Angelicas top 5 songs</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. Think About Things</li>
                            <li class="list-group-item">2. death bed (feat. beabadoobee)</li>
                            <li class="list-group-item">3. E(Ventex)</li>
                            <li class="list-group-item">4. Svag</li>
                            <li class="list-group-item">5. Skechers</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <p>5.0 average based on 180 reviews.</p>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Karins top 5 songs</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. 6.3</li>
                            <li class="list-group-item">2. Ne reviens pas</li>
                            <li class="list-group-item">3. Blinding Lights</li>
                            <li class="list-group-item">4. Meleğim</li>
                            <li class="list-group-item">5. Dans l'espace (feat. Heuss l'Enfoiré)</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p>4.3 average based on 356 reviews.</p>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Mikaels top 5 movies</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. The Cabinet of Dr. Caligari (Das Cabinet des Dr. Caligari)
                            </li>
                            <li class="list-group-item">2. Nosferatu, a Symphony of Horror (Nosferatu, eine Symphonie
                                des Grauens)
                            </li>
                            <li class="list-group-item">3. La Grande illusion (Grand Illusion)</li>
                            <li class="list-group-item">4. Metropolis</li>
                            <li class="list-group-item">5. The Battle of Algiers (La Battaglia di Algeri)</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>2.9 average based on 136 reviews.</p>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Oskars top 5 TV-series</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. Fleabag</li>
                            <li class="list-group-item">2. Watchmen</li>
                            <li class="list-group-item">3. Leaving Neverland</li>
                            <li class="list-group-item">4. Russian Doll</li>
                            <li class="list-group-item">5. Unbelievable</li>
                        </ul>
                        <br>
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>3.1 average based on 210 reviews.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class=col-3>
            <div> Create your own lists and share them with all your friends. Rate other's lists and find the best list
                in each category.
            </div>
            <div class="signup">
                <h3>Sign up for free!</h3>
                <form action="/home1" method="POST"><br>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="createUserName"><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="createPassword"><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </div>
    </div>
</div>


<footer class="container">
    <p>© FlamingoKvintetten 2020</p>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
