<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="${'/style.css'}" href="../static/style.css" >
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="home">
            <img class="logo" th:src="${'/logo2.png'}" src="../static/logo2.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

            </ul>
            <div class="loggedInUser">
                [[${session.userName}]]
            </div>
            <form class="form-inline" action="/logout" method="POST">
                <div>
                    <input type="submit" value="Sign Out" class="button">
                </div>
            </form>


<!--            <form class="form-inline" action="/action_page.php" method="POST">-->
<!--                <div class="form-group">-->
<!--                    <label for="Uname">Sign in:</label>-->
<!--                    <input type="text" class="form-control" name="userName" id="Uname">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="pwd">Password:</label>-->
<!--                    <input type="password" class="form-control" name="password" id="pwd">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="submit" value="Login">-->
<!--                </div>-->
<!--            </form>-->


        </div>
    </div>
</nav>
<br><br>

<div class="container">
    <h5>List your top things</h5>
    <br>
    <div class="row">
        <div class="col">
            <div class="myListBox">
            <h5>List 1</h5>
            <ul>

                <li th:each="list : ${myList}">
                    <p th:text="${list}"></p>
                </li>
            </ul>
            <form action="/myLists" method="post">
                <input type="text" placeholder="item" name="item">
                <input type="submit" class="buttonSmall" value="Add">
                <button type="submit" class="buttonSmall" value="0" name="rensa"  >Clear</button>

            </form>

            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->

<!--    <div class="row alert alert-secondary" role="alert">-->
<!--        <div class="col-sm alert alert-danger" role="alert">-->
<!--            Movies-->
<!--            <ul>-->

<!--                <li th:each="movie : ${session.movies}" th:if="${movie.genre == 'Drama'}" th:text="${movie.title}"></li>-->
<!--            </ul>-->
<!--            <form action="/myLists" method="post" th:object="${drama}" >-->
<!--                <input type="text" placeholder="Top movies" th:field="*{title}" >-->
<!--                <input type="hidden"  th:field="*{genre}">-->
<!--                <input type="submit" class="buttonSmall" value="Add"/>-->

<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-sm alert alert-success" role="alert">-->
<!--            My top Tacos-->
<!--            <ul>-->

<!--                <li th:each="movie : ${session.movies}" th:if="${movie.genre == 'Comedy'}" th:text="${movie.title}"></li>-->
<!--            </ul>-->
<!--            <form action="/myLists" method="post" th:object="${comedy}" >-->
<!--                <input type="text" placeholder="Best taco" th:field="*{title}" >-->
<!--                <input type="hidden"  th:field="*{genre}">-->
<!--                <input type="submit" class="buttonSmall" value="Add"/>-->

<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-sm alert alert-dark" role="alert">-->
<!--            Music-->
<!--            <ul>-->

<!--                <li th:each="movie : ${session.movies}" th:if="${movie.genre == 'Action'}" th:text="${movie.title}"></li>-->
<!--            </ul>-->
<!--            <form action="/myLists" method="post" th:object="${action}" >-->
<!--                <input type="text" placeholder="Fave music" th:field="*{title}" >-->
<!--                <input type="hidden"  th:field="*{genre}">-->
<!--                <input type="submit" class="buttonSmall" value="Add"/>-->

<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->






<footer class="container">
    <br>
    <p>© FlamingoKvintetten 2020</p>
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
